<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Reporte Enviado</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="contenedor exito-box">

    <div class="check">
        ✔
    </div>

    <h2>Reporte enviado correctamente</h2>

    <p>
        El documento fue generado y enviado por correo exitosamente.
    </p>

    <a href="/">

        <button>
            Volver al formulario
        </button>

    </a>

</div>

</body>
</html>