<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Formulario Técnico</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="contenedor">

  <img
        src="{{ url_for('static', filename='logo.png') }}"
        alt="Logo"
        class="logo">

    <h2>Formulario Técnico</h2>

    


    <form action="/enviar" method="post">

        <!-- TECNICO -->
        <label>Técnico</label>

        <select
    name="nombre"
    id="tecnico"
    required>

            <option value="">Seleccione...</option>

            <option value="Jorgue Quijije">Jorgue Quijije</option>
            <option value="Luis Llivisaca">Luis Llivisaca</option>
            <option value="Jefferson Reyes">Jefferson Reyes</option>
            <option value="Jaime Gonzalez">Jaime Gonzalez</option>
            <option value="Daniel Yuquilema">Daniel Yuquilema</option>
            <option value="Cristian Tene">Cristian Tene</option>
            <option value="Leonardo Quijije">Leonardo Quijije</option>
            <option value="Jorge Morocho Jimenez">Jorge Morocho Jimenez</option>
            <option value="Jesus Quijije">Jesus Quijije</option>
            <option value="Cristian Silva">Cristian Silva</option>
            <option value="Jorge Morocho Buele">Jorge Morocho Buele</option>
            <option value="Ronald Paute">Ronald Paute</option>
            <option value="Jefferson Pillco">Jefferson Pillco</option>
             <option value="Jean Cordova">Jean Córdova</option>
            <option value="Victor Nieves">Victor Nieves</option>

            <option value="Ricardo Moreira">Ricardo Moreira</option>          

        </select>

        <label>Cédula</label>

<input
    type="text"
    name="cedula"
    id="cedula"
    readonly>


        <!-- zonal -->
        <label>Zonal</label>

        <select id="zonal" required>

            <option value="">
                Seleccione...
            </option>

            <option value="Ibarra">Ibarra</option>
            <option value="Quito">Quito</option>
            <option value="Riobamba">Riobamba</option>
            <option value="Portoviejo">Portoviejo</option>
            <option value="Guayaquil">Guayaquil</option>
            <option value="Cuenca">Cuenca</option>
            <option value="Loja">Loja</option>

        </select>


        <!-- AGENCIA -->
        <label>Agencia</label>

        <select
            name="zonal"
            id="agencia"
            required>

            <option value="">
                Seleccione una zonal primero
            </option>

        </select>

        <label>Delegada / Responsable</label>

<!-- DELEGDA -->
<input
    type="text"
    name="delegada"
    placeholder="Ingrese nombre de la delegada"
    required>

    <label>Celular Delegada</label>

<input
    type="text"
    name="celular_delegada"
    placeholder="Ingrese celular de contacto"
    required>

<label>Correo Delegada</label>

<input
    type="email"
    name="correo_delegada"
    placeholder="Ingrese correo institucional del contacto para enviar"
    required>

<label>Horario de Atención</label>

<input
    type="text"
    name="horario_atencion"
    placeholder="Ej: Lunes a Viernes de 08:00 a 12:00"
    required>


    <!-- MODELO -->
<label>Modelo</label>

<select
    name="modelo"
    required>

    <option value="">
        Seleccione...
    </option>

    <option value="TM-H6000V">
        TM-H6000V
    </option>

</select>



<!-- SERIES -->
<label>Series</label>

<div id="contenedor-series">

    <input
        type="text"
        name="series[]"
        placeholder="Ingrese serie"
        required>

</div>


<button
    type="button"
    id="agregar-serie">

    + Agregar Serie

</button>


        <!-- OBSERVACIONES -->
        <label>Observaciones</label>

        <textarea
            name="problema"
            placeholder="Ingrese observaciones técnicas..."
            required>
        </textarea>


        <button type="submit">
            Enviar Reporte
        </button>

    </form>

</div>


<script
    src="{{ url_for('static', filename='script.js') }}">
</script>

</body>
</html>